<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.harmony.toddler.mybatis.groovy.demo.mapper.UserMapper">

    <resultMap id="UserResultMap" type="org.harmony.toddler.mybatis.groovy.demo.domain.User" autoMapping="true">
        <id property="id" column="id"/>
    </resultMap>

    <sql id="columns">
        u.id, u.name, u.age, u.addr
    </sql>

    <select id="findByName" resultMap="UserResultMap">
        SELECT
        <include refid="columns"/>
        FROM user u
        WHERE u.name = #{name}
    </select>

    <select id="findByIdXml" resultMap="UserResultMap">
        SELECT
        <include refid="columns"/>
        FROM user u
        WHERE u.id = #{id}
    </select>
</mapper>